* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_bar_desktop {
    list-style: none;
    margin-right: 100px;
}

.nav_bar_desktop a, .nav_bar_desktop li {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #dbdad9;
    text-decoration: none;
}

.nav_bar_desktop li {
    display: inline-block;
    margin-left: 20px;
    padding: 0px 20px;
}

header {
    background-color: #141414;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 3;
}

.nav_logo_a {
    width: 100px;
    left: 50px;
    object-fit: contain;
    float: left;
    position: relative;
}

.nav_logo {
    width: 100px;
    object-fit: contain;
    float: left;
    position: relative;
}

.main_content_octobit {
    width: 100vw;
    height: 100vh;
    background-color: black;
    z-index: 0;
}

#main_octobit_logo {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.main_content_octobit ul {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: nowrap;
    height: 100vh;
    z-index: 2;
}

.main_content_octobit li {
    z-index: 2;
    margin-top: 150px;
}

.main_content_octobit canvas {
    position: absolute;
    top: 100px;
    left: 0px;
    z-index: 1;
}

footer {
    background-color: #141414;
    font-family: "Open Sans", sans-serif;
    color: #dbdad9;
    text-align: center;
}

.index_footer_logo {
    padding: 10px 0px;
}