* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_bar_desktop {
    list-style: none;
    margin-right: 100px;
}

.nav_bar_desktop a, .nav_bar_desktop li {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #dbdad9;
    text-decoration: none;
}

.nav_bar_desktop li {
    display: inline-block;
    margin-left: 20px;
    padding: 0px 20px;
}

header {
    background-color: #141414;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

.nav_logo {
    width: 100px;
    left: 50px;
    object-fit: contain;
    float: left;
    position: relative;
}

.main_content_octobit {
    background-color: black;
}

#main_octobit_logo {
    display: block;
    margin: auto auto;
}

.main_content_octobit ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: nowrap;
}